---
layout: category
index: noindex, follow
---

      {% for post in page.posts reversed %}


      {% if post.featured == true %}{% assign  featured = 'featured' %}{% endif %}

      <!--start post block -->
      <div class="row">

          <article class="small-12 columns  post-category">


              <header>
                <h3><a href="{{ post.url | prepend: site.baseurl }}" alt="{{ post.title }}" rel="bookmark" itemprop="url">{{ post.title }}</a></h3>
              </header>

                <p>Posted on <i class="fa fa-clock-o"></i> <span datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</span></p>

                <div class="excerpt">
                    {{ post.content | strip_html | truncatewords:45}}
                </div>

          </article>


      </div>

      {% endfor %}

